// Colors

$primary-green: #14CC14;

$topbar-background-color: #232731;
$secondary-topbar-background-color: #4B4F5A;

// Navigation

$topbar-font-size: 20px;
$topbar-font-color: white;
$topbar-links-font-weight: 300;
$topbar-links-font-weight-selected: 700;

$secondary-topbar-name-font-weight: 400;
$secondary-topbar-font-color: white;
$secondary-topbar-icons-color: #A5A7AC;

// Secondary Navigation

