.content-container {
  .form-wrapper {
    .form-title {
      font-weight: bold;
      font-size: 24px;
      color: #232731
    }
  }

  .form-body {
    border-bottom: 1px solid #ddd;
  }

  .btn-actions {
    margin: 30px 50px !important;
  }
}
